body{
    background-color: #427AA8;
    margin: 0px;
}

.bt1{
    width: 250px;       
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.a1{
    text-decoration: none;
    color: #F5F5F5;
}

.a1 :hover{
    color: #2D3033;
    transition-duration: 0.4s;
}

.bt1:hover{
    width: 250px;       
    height: 60px;
    border-radius: 20px;
    background-color: #5FB2F5;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
}

.bt2{
    width: 250px;       
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.a2{
    text-decoration: none;
    color: #F5F5F5;
}

.a2 :hover{
    color: #2D3033;
    transition-duration: 0.4s;
}

.bt2:hover{
    width: 250px;       
    height: 60px;
    border-radius: 20px;
    background-color: #5FB2F5;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
}

.bt3{
    width: 250px;       
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.a3{
    text-decoration: none;
    color: #F5F5F5;
}

.a3 :hover{
    color: #2D3033;
    transition-duration: 0.4s;
}

.bt3:hover{
    width: 250px;       
    height: 60px;
    border-radius: 20px;
    background-color: #5FB2F5;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
}

.nav{
    width: 100%;
    height: 72px;
    background-color: #2E5575;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.cv{
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.imgcv{
    filter: drop-shadow(8px 9px 20px rgba(0, 0, 0, 0.4));
    border-radius: 0px 0px 40px 40px;

}

h1{
    background-color: #2D3033;
    width: 600px;
    padding: 20px;
    padding-left: 100px;
    font-size: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #F5F5F5;
    border: 9px double #427AA8;
    border-left: none;
}

.imdatos{
    float: left;
    margin-left: 350px;
}

.datos{
    background-color: #5FB2F5;
    width: 902px;
    height: 300px;
    margin-left: 20%;
    border-radius: 32px;
    box-shadow: 8px 9px 20px rgba(0, 0, 0, 0.4);

}


h2{
    background-color: #2D3033;
    color: #F5F5F5;
    height: 80px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
}

.uldatos{
    font-size: 20px;
}

.ulli{
    float: right;
    margin-top: 0px;
    margin-right: 500px;
    font-size: 20px;

}
/*.blur{
    width: 1150px;
    height: 372px;
    margin-left: 145px;
    top: 497px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) ;
    filter: blur(10px);
    border-radius: 60px;
    backdrop-filter: blur(10px);
}*/