body{
    background-color: #427AA8;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bt1{
    width: 250px;       
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #5FB2F5;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

a{
    font-family: 'Arvo', serif;
    color: #2D3033;
    font-size: 18px;
}

.a1{
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'Arvo', serif;
}

.bt2{
    width: 250px;       
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: #85919b;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.a2{
    text-decoration: none;
    color: #85919b;
    font-family: 'Arvo', serif;
}

.nav{
    width: 100vw;
    height: 72px;
    background-color: #2E5575;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.cv{
    display: flex;
    align-items: center;
    padding: 0px;
}

.imgcv{
    filter: drop-shadow(8px 9px 20px rgba(0, 0, 0, 0.4));
    border-radius: 0px 0px 40px 40px;
    width: 20em;
    margin-left: 3em;
}

h1{
    background-color: #2D3033;
    width: 40vw;
    padding: 20px;
    padding-left: 100px;
    font-size: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #F5F5F5;
    border: 9px double #427AA8;
    border-left: none;
    font-family: 'Arvo', serif;
}

.imdatos{
    float: left;
    margin-left: 8px;
    margin-top: 4px;
    width: 5em;
}

.dato{
    background-color: #5FB2F5;
    width: 50vw;
    height: 350px;
    margin-left: 20em;
    border-radius: 32px;
    box-shadow: 8px 9px 20px rgba(0, 0, 0, 0.4);
    align-items: center;
}

h2{
    background-color: #2D3033;
    color: #F5F5F5;
    height: 80px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
    font-family: 'Arvo', serif;
    justify-content: center;
}

.uldatos{
    font-size: 20px;
}

.uldatos1{
    font-size: 2em;
    
}

u{
    font-size: 2em;
}
.ulli{
    display: flex;
    font-size: 2em;
    flex-direction: column;
}

.id{
    
    padding-left: 10em;
    margin-top: -4.1em;
    list-style-position:inside;
}

footer{
    background-color: #2D3033;
    padding: 30px;
    text-align: center;
    color: #F5F5F5;
    margin-top: auto;
    width: 100vw;
}

@media (max-width:578px) 
{

    .imgcv{
        filter: drop-shadow(8px 9px 20px rgba(0, 0, 0, 0.4));
        border-radius: 0px 0px 40px 40px;
        width: 10em;
        margin-left: 3em;
    }

    h1{
        background-color: #2D3033;
        width: 20vw;
        padding: 10px;
        padding-left: 2em;
        font-size: 1em;
        text-align: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #F5F5F5;
        border: 9px double #427AA8;
        border-left: none;
        font-family: 'Space Mono', monospace;
    }

    .dato{
        flex-wrap: wrap;
        background-color: #5FB2F5;
        width: 60vw;
        height: 60vh;
        margin-left: 6em;
        border-radius: 32px;
        box-shadow: 8px 9px 20px rgba(0, 0, 0, 0.4);
        margin-bottom: 50px;
    }
    h2{
        background-color: #2D3033;
        color: #F5F5F5;
        height: 80px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        font-size: 1.4em;
        margin-bottom: 1em;
        padding-top: 1em;
        font-family: 'Space Mono', monospace;

    }

    .ulli{
        display: flex;
        font-size: 2em;
        flex-direction: column;
    }

    .id{
        margin-left: 0em;
        margin-top: 0.5em;
        padding-left: 0em;
        list-style:none ;
        
    }

    u{
        font-size: 1.1em;
    }
}